logs
project/target
target
tmp
.history
dist
/.idea
.idea/
.idea/*
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.DS_Store
.DS_Store
**/node_modules
**/data
*.iml
npm-debug.log
